.navbar-wrapper.shop {
  border-bottom: 3px solid $pal-supernav-white;
}

.supernav-wrapper.shop {
  font-size: .9em;
}

.nav-wrapper.shop {
  background-color: #ffffff;
  position: relative;
  top: .8em;
}
