.navbar-wrapper.shop {
  border-bottom: 3px solid $pal-supernav-white;
}

.supernav-wrapper.shop {
  overflow: hidden;
  height: 30px;
  font-size: 12px;
}

.nav-wrapper.shop {
  background-color: #ffffff;
}
