.navbar.navbar-default {
  background: #fff;
  border: none;
}

#navbar-brand {
  text-align: left;
  font-family: Pacifico, cursive !important;
  font-size: 2em;
  color: $pal-red;
  text-decoration: none;
}

.wine-button.shop {
}

.searchbar-wrapper.shop {
}

.shopping-cart-button-wrapper.shop {
}

