.nav.shop {
  height: 51px;
}

.logo-wrapper.shop {
  text-align: left;
  h1 {
    margin: 0px 0px 0px 10px;
    font-family: Pacifico, cursive !important;
    color: $pal-red;
    font-size: 37px;
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
}

.wine-button.shop {
  text-align: right;
  margin-top: 8px;
  padding-right: 20px;
  margin-left: 360px;
}

.searchbar-wrapper.shop {
  text-align: left;
  margin-top: 6px;
}

.shopping-cart-button-wrapper.shop {
  text-align: left;
  margin-right: 20px;
  margin-top: 8px;
}
