.category{
  &-container {

  }
  &-title {
    font-size: 18px;
  }

  &-name {
    padding-left: 5px;
  }

  &-count {
    text-align:right;
  }
}

@media (max-width:500px)  {

}

@media (max-width:500px)  {

}

@media (max-width:500px)  {

}

@media (max-width:1100px)  {
  // .category-container {
  //   display: none;
  // }
}
