.footer-wrapper {
  margin-top: 2em;
  padding: 1.5em;
  background: $pal-footer-grey;
}
.footer-logo {
  color: $pal-red;
  font-family: Pacifico, cursive !important;
}
.footer-copyright {
  font-size: .75em;
  font-style: italic;
  text-align: right;
}

