.home-wrapper.shop {
  height: 1px;
  min-height: 70vh;
  width: 80%;
  margin: 0 auto;
}

.shop.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  img {
    position: absolute;
    top: 0;
    left: -20%;
    width: 140%;
    height: 400px;
    object-fit: cover;
  }
}

.cta.shop {
  margin-top: 10px;
}

.cta-div {
  z-index: 2;
  text-align: center;
}
.cta-button{
  width: 200px;
  height: 60px;
  background-color: darkgrey;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  border-radius: 5px;
  &:hover{
    background-color: grey;
    color:white;
    cursor: pointer;
  }
}
.cta-parse{
  text-align: center;
  font-size: 2em;
  width: 70%;
  color: white;
}

.featured-span.shop {
  margin-top: 10px;
}

.category-wrapper.shop {
  height: 1px;
  min-height: 200px;
  margin-top: 10px;
}

.wine-type-title {
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  border-bottom: solid 1px black;
  width: 60%;
}
.wine-type-list {
  text-align: center;
}
